<template>
	<div>
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">
					<span v-if="!edit">{{ value.Term }}</span>
					<b-input placeholder="Term or Abbrevation" v-if="edit" v-model="value.Term"></b-input>
				</p>

				<span v-if="!edit" v-for="elem in value.Tag" :class="tagClass(elem)">
					<span>{{ elem }}</span>
				</span>

				<v-selectize v-if="edit" v-model="value.Tag" :options="options" multiple />
			</header>
			<div class="card-content" :class="editClass">
				<div class="content">
                    <h6 class="subtitle is-6">
						<span v-if="!edit">{{ value.LongName }}</span>
						<b-input placeholder="Long Name" v-if="edit" v-model="value.LongName"></b-input>
					</h6>
                    <img src="/static/de.svg" style="margin-right:.5rem" width="16px" height="16px" v-if="value.Translation" />
					<input type="text" placeholder="Translation" v-if="edit" class="is-inline-block input" style="width: auto" v-model="value.Translation" />
                    <span v-if="!edit">{{ value.Translation }}</span>
					<ul>
						
						<li v-for="(item,i) in value.Description">
							<b-input placeholder="Description entry" v-if="edit" v-model="value.Description[i]"></b-input>
							<span v-if="!edit">{{ item }}</span>
						</li>
					</ul>
                    <a v-if="edit" v-on:click="addLine()" class="button has-background-primary has-text-white">+</a>

                    <hr>
                    <span v-if="!edit" v-for="elem in value.Further" class="tag">
                        <span>{{ elem }}</span>
                    </span>
                    <v-selectize v-if="edit" v-model="value.Further" :options="further" multiple />

				</div>
			</div>
			<footer class="card-footer">
				<a v-if="edit" v-on:click="saveItem()" class="card-footer-item">Save</a>
				<a v-if="!edit" v-on:click="editItem()" class="card-footer-item">Edit</a>
				<a v-if="!edit" v-on:click="deleteItem()" href="#" class="card-footer-item">Delete</a>
				<a v-if="edit" v-on:click="cancelItem()" href="#" class="card-footer-item">Cancel</a>
			</footer>
		</div>
	</div>
</template>

<script>

import VSelectize from '@isneezy/vue-selectize'
import axios from 'axios'

export default {
	props: ["value", "index", "edit", "deleteFunc", "cancelFunc", "allData"],
	components: {
		VSelectize
	},
	data() {
		return {
			options: ["Hardware", "Software", "Network"],
            edit: false,
            editClass: "",
            backup: {},
            further: [],
		}
	},
    created() {
		if(this.edit) {
			this.editClass = "edit";
		}
	},
	methods: {
		editItem: function() {
			this.edit = true;
			this.editClass = "edit";
            this.further = [];
            for(var i = 0; i < this.allData.length; ++i) {
                this.further.push(this.allData[i].Term);
            }
            console.log(this.further);
            this.backup = JSON.parse(JSON.stringify(this.value));
		},
        addLine: function() {
            if(this.value.Description == null)
                this.value.Description = [];
            this.value.Description.push("");
        },
        cancelItem: function() {
            if(this.value.Term == "") {
                this.cancelFunc(this.index);
            }
            this.value = JSON.parse(JSON.stringify(this.backup));
            this.edit = false;
            this.editClass = "";
            this.$snackbar.open({
                    message: 'Successfully canceled modification of the glossary item',
                    type: 'is-success',
                    position: 'is-top',
                    actionText: 'Kee',
                });
        },
        deleteItem: function() {
            this.deleteFunc(this.index);
        },
		saveItem: function() {
            if(this.value.Term == "") {
                this.$snackbar.open({
                    message: 'Please provide at least the headline for this glossary item',
                    type: 'is-warning',
                    position: 'is-top',
                    actionText: 'Halb Kee',
                });
                return;
            }
            var tmp = [];
            for(var i = 0; i < this.value.Description.length; ++i) {
                if(this.value.Description[i] != "") {
                    tmp.push(this.value.Description[i]);
                }
            }
            console.log(tmp);
            this.value.Description = tmp;
			var tmp = this;
			axios.post('/api/', this.value)
			.then((resp) => {
				console.log(resp.data);
                this.$snackbar.open({
                    message: 'Successfully saved glossary item',
                    type: 'is-success',
                    position: 'is-top',
                    actionText: 'Kee',
                });
				tmp.edit = false;
			})
			.catch((resp) => {
                this.$snackbar.open({
                    message: 'Error saving glossary item',
                    type: 'is-danger',
                    position: 'is-top',
                    actionText: 'Nicht Kee',
                });
				console.log(resp);
			});

		},
        tagClass: function(i) {
            switch(i) {
                case "Network": return "tag is-dark";
                                break;
                case "Software": return "tag is-info";
                                break;
                case "Hardware": return "tag is-success";
                                break;
            }
        },
	}
}
</script>
<style lang="scss">
@import '~selectize/dist/css/selectize.css';
@import '~bulma/sass/utilities/mixins';
.card-content {
    @include mobile {
        height: auto;    
    }
    height: 25rem;
    &.edit {
        height: auto !important;
    }
    ul {
        margin-left: 1.2rem !important;
    }
}
.tag {
	margin: .7rem .2rem;
}
.selectize-input {
	width: 20rem;
    margin: 0.7rem 0.7rem 0.7rem 0;
}
</style>
