<template>
    <div class="container section">
        <h1 class="title is-1 has-text-white">IT Glossary</h1>
        <div class="content">
            <a class="button is-white" v-on:click="addEntry()"><i class="fa fa-plus"></i> Add glossary item</a>
        </div>
        <div class="columns is-multiline">
            <GlossaryEntry class="column is-half" :cancelFunc="cancelNewItem" :deleteFunc="deleteItem" v-for="(item,index) in glossaryEntries" :edit="edit[index]" :index="index" v-model="glossaryEntries[index]" :allData="glossaryEntries">
            </GlossaryEntry>
        </div>
    </div>
</template>

<script>
import GlossaryEntry from "./components/GlossaryEntry"
import axios from 'axios'

export default {
	components: {
		'GlossaryEntry': GlossaryEntry
	},
	data() {
		return {
            glossaryEntries: [],
            edit: [],
		}
	},
    created() {
        axios.get('/api/')
        .then((resp) => {
            this.glossaryEntries = resp.data;
            if(resp.data == null) {
                this.glossaryEntries = [];
            }
            for(var i = 0; i < this.glossaryEntries.length; ++i) {
                this.edit.push(false);
            }
        })
        .catch((resp) => {
            console.log(resp);
        });
    },
    methods: {
        addEntry: function() {
            this.glossaryEntries.unshift({
                ID: 0,
                Term: "",
                LongName: "",
                Translation: "",
                Description: [],
                Link: "",
                Tag: [],
                Further: []
            })
            this.edit.unshift(true);
        },
        cancelNewItem: function(index) {
            this.glossaryEntries.splice(index,1);
            this.edit.splice(index,1);
        },
        deleteItem: function(index) {
			var tmp = this;
			this.$dialog.confirm({
				message: 'Do you really want to delete this glossary entry?',
				onConfirm: function() {

					axios.delete('/api/', {data: tmp.glossaryEntries[index]})
					.then((resp) => {
						tmp.glossaryEntries.splice(index,1);
						tmp.edit.splice(index,1);
						this.$snackbar.open({
							message: 'Successfully deleted glossary entry',
							type: 'is-success',
							position: 'is-top',
							actionText: 'Kee',
						});
					})
					.catch((resp) => {
						this.$snackbar.open({
							message: 'Error deleting glossary entry',
							type: 'is-danger',
							position: 'is-top',
							actionText: 'Nicht Kee',
						});
						console.log(resp);
					});

				}
			});
        }
    }
}
</script>
<style lang="scss">
.fa.fa-plus {
    margin-right: 1rem;
}
.container-fluid {
    min-height: 100%;
}
</style>
